
<%= form_for(user) do |f| %>

  <% if user.errors.any? %>
  <div class="error">
    <h2><%= pluralize(user.errors.count, "error")%>
    prohibited this picture from being saved:</h2>
    <ul>
      <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

<% end %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'w3-input w3-padding-16' %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password, class: 'w3-input w3-padding-16' %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation, class: 'w3-input w3-padding-16' %>
  </p>

  <p>
  <%= f.submit "Create Yourself", class: "w3-button w3-light-grey w3-section" %>
</p>
<% end %>
