<div>
<ul>
  <% restaurant.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
</div>


<%= form_for [restaurant] do |f| %>

  <div class="field">
  <p>

    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.number_field :capacity %>
  </p>
  <p>
    <%= f.label :neighborhood %><br />
    <%= f.text_field :neighborhood %>
  </p>

  <p>
    <%= f.label :price_range %><br />
    <%= f.text_field :price_range %>
  </p>
  <p>
    <%= f.label :menu %><br />
    <%= f.text_area :menu %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.label :pic_url %><br />
    <%= f.text_field :pic_url %>
  </p>
  <p>
    <%= f.label :open_hour %><br />
    <%= f.time_field :open_hour %>
  </p>

  <p>
    <%= f.label :close_hour %><br />
    <%= f.time_field :close_hour %>
  </p>



  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
