
<br>
<h1><%= @restaurant.name%></h1>
<p><%= @restaurant.address %></p>

<br>

<h3><%@restaurant.reservations.each_with_index do |r,i|%></h3>
<% if r.id != nil %>

Date <%= i+1 %>: <%= r.date %> <br><%= link_to("Edit", edit_restaurant_reservation_path(@restaurant, r.id)) %>

<% end  %>
<br>
<% end %>

<h4>New Reservation</h4>

<%= render 'reservations/form',  restaurant: @restaurant, reservation: @reservation %>

<br>
<%= link_to("restaurants Page", restaurants_path) %>
