<style>
  .bgimg {
      background-position: center;
      background-size: cover;
      background-image: url(<%= @restaurant.pic_url %>);
      height: 60vh;
  }
</style>
<% if @restaurant.pic_url != "" %>
  <header class="bgimg w3-display-container w3-grayscale-min">
    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
      <span class="w3-tag">Open from <%= @restaurant.open_hour.in_time_zone('EST').strftime('%I:%M %p') %> to <%= @restaurant.close_hour.in_time_zone('EST').strftime('%I:%M %p') %></span>
    </div>
    <div class="w3-display-middle w3-center">
      <span class="w3-text-white" style="font-size:90px"><%= @restaurant.name %></span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
      <span class="w3-text-white"><%= @restaurant.address %></span>
    </div>
  </header>
<% end %>

<section class="w3-content" style="max-width:1100px">
  <div class="w3-container w3-padding-64">
    <h1>About <%= @restaurant.name %></h1>
    <br>
    <p><%= @restaurant.summary %></p>
    <a href="#reservation">Make a reservation!</a><br><br>
    <p><b>Neighborhood:</b> <%= @restaurant.neighborhood %></p>
    <p><b>Price Range:</b> <%= @restaurant.price_range %></p>
    <p><b>Open hours: </b>Everyday from <%= @restaurant.open_hour.in_time_zone('EST').strftime('%I:%M %p') %> to <%= @restaurant.close_hour.in_time_zone('EST').strftime('%I:%M %p') %>.</p>
    <p><b>Address: </b><%= @restaurant.address %></p>
    <div class="w3-center">
      <img src="https://www.w3schools.com/w3images/tablesetting2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750"><br>
      <h4>Menu</h4>
      <p><%= @restaurant.menu %></p>
    </div>
  </div>
  <div class="w3-center">
    <!-- user's section -->
    <% if current_user %>
      <h5>My Booked Reservations</h5>
      <h3><% @restaurant.reservations.where("user_id = ?", current_user.id).each_with_index do |r, i|%></h3>
        <% if r.id != nil %>
        <p>
        <%= (i+1).ordinalize %> reservation: <%= r.date %> AT <%= r.time_slot.in_time_zone('EST').strftime("%I:%M %p") %> for party of <%= r.party_size %><br><%= link_to("Edit", edit_restaurant_reservation_path(@restaurant, r.id)) %>
        </p>
        <% end  %>
      <% end %>
      <br>
    <% end %>
    <!-- owner's section -->
    <% if current_user && (@restaurant.owner == current_user.id) %>
    <h5>Restaurant Admin</h5>
     <p>All Reservations</p>
      <%@restaurant.reservations.each_with_index do |r,i|%></h3>
        <% if r.id != nil %>
         <%= (i+1).ordinalize %> reservation: <%= r.date %> AT <%= r.time_slot.in_time_zone('EST').strftime("%I:%M %p") %> for party of <%= r.party_size %><br>
         <% end %>
      <% end  %>
      <p> <%= button_to "Edit my restaurant", edit_restaurant_path(@restaurant), :method => 'get', class: "w3-button w3-light-grey w3-section" %> </p>
    <% end %>
  </div>
  <div class="w3-container w3-padding-64" id="reservation">
    <h4 class="w3-center">New Reservation</h4>
    <%= render 'reservations/form',  restaurant: @restaurant, reservation: @reservation %>
  </div>
</section>
