<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if current_user %>
        <li>
          <%= link_to "Sign Out", session_path("current"), method: :delete %>
        </li>
      <% else %>
        <li><%= link_to "Sign In", new_session_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  </nav>

</header>

<%= yield %>
<%= console %>
</body>
</html>
